
@{
  ViewData["Title"] = "About Page";
}


<div style="height: 100px;"></div>
    
<div class="container">
    <div class="row">
      <div class="col-sm-2">
       
      </div>
      <div class="col-sm-8">
        <h1 style="color: #62c8d2; text-align: center;">About IronSculpt GYM</h1>
        <hr>
        <img src="/images/gymLogo3.png" style="width: 300px; height: 300px; border-radius: 20%; float: left; margin-right: 30px;" alt="">

        
        <p style="font-size: large;">For over 15 years, IronSculpt GYM has been developing the most successful personal trainers 
          in the sports industry. Our personal trainer development program, approved by numerous international reputable 
          educational institutions, provides scientifically accurate information. If you aspire to be one of the best, 
          most respected, and successful fitness trainers, you can start a new career with IronSculpt GYM.

        
          IronSculpt GYM enables you to learn the necessary information to design and implement unique exercise 
          programs tailored to the goals, abilities, and needs of our members.
          The program blends evidence-based exercise science with the experience gained by Mars Athletic over the years. 
          This training will set you apart as a personal trainer who leads members on their individual journeys."

          As IronSculpt GYM employees, driven by the motto of 'a better life mentally, spiritually, and physically,' 
          we understand that a good life is possible with an ecosystem consisting of good people. To enhance this 
          ecosystem, we continually generate new ideas to not only develop our team members into pioneers of a good 
          life in their professional roles but also in other aspects of life.

          The career journey, goals, and expectations of our team members are highly important to us. We listen to our 
          colleagues, providing support in their career plans to ensure a fulfilling and enjoyable professional 
          experience. We develop new projects to support the development of all our team members. With our ongoing 
          in-house training program, JUMP, we are continuously pursuing advancement in our expertise to foster the 
          growth of each colleague.
        </p>
        
       
      </div>
      <div class="col-sm-2">
        
      </div>
    </div>
</div>


@await Html.PartialAsync("_footer")