
@{
    ViewData["Title"] = "Coaching Page";
}


<div style="height: 100px;"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="color: #62c8d2; text-align: center;">About Coaching</h1>
            <hr>
            <img src="/images/Coaching.png" style="width: 350px; height: 300px; border-radius: 20%; float: left; margin-right: 50px; margin-bottom: 20px;">
            <div style="margin-top: 100px;">
                <p style="font-size: large;">Personal training involves one-on-one fitness instruction and coaching provided by a certified fitness 
                    professional, known as a personal trainer. These professionals work closely with individuals to create personalized 
                    exercise programs tailored to their specific goals, fitness levels, and any unique needs or considerations. 
                    The aim of personal training is to provide a customized and effective workout experience, combining various 
                    exercises, techniques, and often nutritional guidance to help clients achieve their desired fitness outcomes.</p>
            </div>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col">
            <div>
                <img src="/images/coaching2.jpg" style="width: 350px; height: 300px; float: right; border-radius: 20%; margin-left: 50px; margin-bottom: 20px;">
                <p style="font-size: large;">During personal training sessions, the trainer assesses the client's current fitness level, 
                    discusses their objectives, and considers any health limitations or preferences. With this information, 
                    the trainer designs a comprehensive program that may include strength training, cardiovascular exercises, 
                    flexibility work, and more. The trainer provides guidance on proper form and technique, monitors progress, 
                    and adjusts the program as needed to ensure continuous improvement.</p>
            </div>
            

        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col">
            <img src="/images/coaching3.jpg" style="width: 350px; height: 300px; border-radius: 20%; float: left; margin-right: 50px; margin-bottom: 20px;">
            <div style="margin-top: 100px;">
                <p style="font-size: large;">Personal training goes beyond just physical exercise; it often encompasses motivation, 
                    education, and support. Personal trainers serve as mentors, helping clients stay accountable to their fitness 
                    goals and providing the knowledge and encouragement needed for long-term success. The individualized approach 
                    of personal training makes it a popular choice for those seeking a more focused and tailored fitness experience, 
                    whether they are beginners looking to establish a workout routine or experienced individuals aiming to reach 
                    specific fitness milestones.</p>
            </div>
        </div>
        <hr>
    </div>
</div>



@await Html.PartialAsync("_footer")