
@{
    ViewData["Title"] = "Kickbox Page";
}


<div style="height: 100px;"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="color: #62c8d2; text-align: center;">About Kickbox</h1>
            <hr>
            <img src="/images/kickBox.jpg" style="width: 350px; height: 300px; border-radius: 20%; float: left; margin-right: 50px; margin-bottom: 20px;">
            <div style="margin-top: 100px;">
                <p style="font-size: large;">
                    Kickboxing is a dynamic and versatile combat sport that combines elements of traditional martial 
                    arts, such as karate and Muay Thai, with Western boxing techniques. The sport involves a 
                    combination of punches, kicks, knee strikes, and elbow strikes, making it a comprehensive 
                    and effective form of self-defense. Participants in kickboxing engage in controlled sparring 
                    matches or bag work, honing their striking skills and improving overall cardiovascular fitness.</p>
            </div>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col">
            <div>
                <img src="/images/kickbox2.jpg" style="width: 350px; height: 300px; float: right; border-radius: 20%; margin-left: 50px; margin-bottom: 20px;">
                <p style="font-size: large;">In a typical kickboxing match, participants wear gloves and adhere to a set of rules that 
                    govern the allowed techniques and contact levels. The goal is to score points by landing clean and 
                    controlled strikes on an opponent, with the ultimate aim of achieving a knockout or winning on points. 
                    Kickboxing emphasizes a blend of agility, speed, and strength, requiring practitioners to develop both 
                    offensive and defensive strategies. Training often involves a mix of cardiovascular conditioning, 
                    strength training, and skill-specific drills to enhance a fighter's overall fitness and combat readiness.</p>
            </div>
            

        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col">
            <img src="/images/kickbox3.jpg" style="width: 350px; height: 300px; border-radius: 20%; float: left; margin-right: 50px; margin-bottom: 20px;">
            <div style="margin-top: 100px;">
                <p style="font-size: large;">Beyond its effectiveness as a sport, kickboxing has gained popularity as a high-intensity fitness activity. 
                    Many fitness enthusiasts incorporate kickboxing workouts into their routines to improve cardiovascular health, 
                    burn calories, and build strength. The diverse range of techniques and the intensity of the training make 
                    kickboxing a challenging yet rewarding pursuit for individuals seeking a dynamic and engaging form of exercise.</p>
            </div>
        </div>
        <hr>
    </div>
</div>

@await Html.PartialAsync("_footer")