@{
    ViewData["Title"] = "Trainers Page";
}


<div style="height: 100px;"></div>
    
    <div class="container">
        <div class="row">
            <h1 style="color: #62c8d2; text-align: center;">IronSculpt GYM Trainers</h1>
            <hr style="margin-bottom: 50px;">
            <div class="col-sm-12 col-lg-4">
                <div class="card border-info" style="width: 18rem; height: 400px;">
                    <img src="/images/trainer1.jpg" class="card-img-top" style="height: 250px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Arthur Brown</h5>
                        <p class="card-text">Arthur Brown is a second level fitness trainer in this sport center.</p>
                    </div>
                </div> 
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="card border-info" style="width: 18rem; height: 400px;">
                    <img src="/images/trainer6.jpg" class="card-img-top" style="height: 250px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sarah Clark</h5>
                        <p class="card-text">Sarah Clark is a personal trainer. She gives private lessons.</p>
                    </div>
                </div> 
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="card border-info" style="width: 18rem; height: 400px;">
                    <img src="/images/trainer2.jpg" class="card-img-top" style="height: 250px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Derek Dean</h5>
                        <p class="card-text">Derek Dean is a second level fitness trainer in this sport center.</p>
                    </div>
                </div> 
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="card border-info" style="width: 18rem; height: 400px;">
                    <img src="/images/trainer5.png" class="card-img-top" style="height: 250px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mary Connell</h5>
                        <p class="card-text">Mary Connell is a zumba instructor in this sport center.</p>
                    </div>
                </div> 
            </div>
            <div class="col-sm-12 col-lg-4"> 
                <div class="card border-info" style="width: 18rem; height: 400px;">
                    <img src="/images/trainer3.jpeg" class="card-img-top" style="height: 250px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Coleman Bean</h5>
                        <p class="card-text">Coleman Bean is a kickbox instructor in this sport center.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4"> 
                <div class="card border-info" style="width: 18rem; height: 400px;">
                    <img src="/images/trainer4.jpg" class="card-img-top" style="height: 250px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Holly Davis</h5>
                        <p class="card-text">Holly Davis is a pilates instructor in this sport center.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>


    @await Html.PartialAsync("_footer")
