
@{
    ViewData["Title"] = "Zumba Page";
}


<div style="height: 100px;"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="color: #62c8d2; text-align: center;">About Zumba</h1>
            <hr>
            <img src="/images/zumba.jpg" style="width: 350px; height: 300px; border-radius: 20%; float: left; margin-right: 50px; margin-bottom: 20px;">
            <div style="margin-top: 100px;">
                <p style="font-size: large;">Zumba is a dynamic and energetic fitness program that combines dance and aerobic 
                    elements set to lively music. Developed in the 1990s by Colombian dancer and choreographer 
                    Alberto "Beto" Perez, Zumba has grown into a global phenomenon, offering a fun and engaging 
                    way for people to stay active and healthy. The workout is characterized by its fusion of Latin 
                    and international dance styles, creating a party-like atmosphere in fitness classes.</p>
            </div>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col">
            <div>
                <img src="/images/zumba2.jpg" style="width: 350px; height: 300px; float: right; border-radius: 20%; margin-left: 50px; margin-bottom: 20px;">
                <p style="font-size: large;">Zumba classes typically feature a variety of dance styles, including salsa, merengue, cumbia, reggaeton, and more. 
                    The choreography is designed to be easy to follow, making Zumba accessible to individuals of all 
                    fitness levels and dance backgrounds. The primary goal is to provide a full-body workout while participants 
                    enjoy the rhythm and energy of the music. The infectious beats and lively movements make Zumba a popular 
                    choice for those looking to improve cardiovascular fitness, coordination, and overall well-being.</p>
            </div>
            

        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col">
            <img src="/images/zumba3.jpg" style="width: 350px; height: 300px; border-radius: 20%; float: left; margin-right: 50px; margin-bottom: 20px;">
            <div style="margin-top: 100px;">
                <p style="font-size: large;">Beyond its physical benefits, Zumba is celebrated for its emphasis on enjoyment and community. 
                    The inclusive and social nature of Zumba classes creates a supportive and motivating environment, encouraging 
                    participants to have fun while breaking a sweat. As a result, Zumba has become a popular choice for 
                    people seeking a workout that not only enhances their fitness but also allows them to express themselves 
                    through dance in a vibrant and social setting.</p>
            </div>
        </div>
        <hr>
    </div>
</div>

@await Html.PartialAsync("_footer")